.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;
  align-items: stretch;
  align-self: center;
  justify-self: center;
  background-color: #282727;
  padding: 10px;
  color: #d3d6da;
  border-radius: 5px;
  min-height: 260px;
}

.link {
  text-decoration: none;
}

.item:hover {
  background-color: #403539;
}

.title {
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  text-transform: uppercase;
}

.image {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.detail {
  padding: 5px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMore {
  color: #aaa;
  background-color: transparent;
  border: none;
  font-family: inherit;
  margin: 20px auto;
  font-size: 18px;
  display: block;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-transform: uppercase;
}

.loadMore:hover {
  cursor: pointer;
  color: #fff;
}

.loadMore:hover::after {
  border-bottom-color: #fff;
  width: 100%;
}

.loadMore::after {
  content: '';
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid transparent;
  /* Animations */
  -webkit-transition: border-color 200ms, width 250ms;
  -moz-transition: border-color 200ms, width 250ms;
  transition: border-color 200ms, width 250ms;
}

.about {
  font-size: 20px;
}

.filterContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filterInput {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 200px;
  font-size: 24px;
  padding: 4px;
  background-color: #403539;
  color: #dedde5;
  border: none;
  border-radius: 5px;
}

.filterInput::placeholder {
  color: #dedde5;
}

.filterInput:focus {
  outline: none;
}

.button {
  margin-left: 10px;
  height: 32px;
  font-size: 24px;
  padding: 2px;
  background-color: #282727;
  color: #2c8bcf;
  border: none;
  border-radius: 5px;
}
