@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

.header {
  padding: 20px;
  padding-bottom: 0;
  background-color: #000;
  background-image: url('/assets/navigation_stars@2x-815223a7aade.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.logoContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.logo {
  height: 200px;
  filter: brightness(0) invert(1);
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

.navList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 10px;
}

.navList li a {
  color: #dedde5;
  text-decoration: none;
  margin-left: 30px;
}

.navList li a:hover {
  color: #2c8bcf;
  border-bottom: 2px solid #2c8bcf;
}
